

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #539fd1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
}

.form-control.invalid {
  color: rgb(91, 187, 232);
}

.form-control.invalid input {
  border-color: red;
}

label {
  display: block;
  text-align: left;
}
